%section.testimonals
  %article.wow.fadeInDown{"data-wow-delay" => "1s"}
    %h3 What are users say about us
    %p Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci.
    %ul
      %li
        = image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg"
      %li
        %span Michael Cera
      %li
        = link_to "@thisIsTwitter", "#"
      %li
        Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci, at consequat metus commodo sed. Aenean sed malesuada purus.
    %ul
      %li
        = image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg"
      %li
        %span Jesscia Hughes
      %li
        = link_to "@thisIsTwitter", "#"
      %li
        Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci, at consequat metus commodo sed. Aenean sed malesuada purus.
    %ul
      %li
        = image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg"
      %li
        %span Kimberly Johnson
      %li
        = link_to "@thisIsTwitter", "#"
      %li
        Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci, at consequat metus commodo sed. Aenean sed malesuada purus.
