%section.main-hero

  %nav.main-nav
    .container
      %dl
        %dd
          .logo
            = image_tag "nimble.svg"
        %dd
          %ul
            %li
              %a{href: ""} Login
            %li
              %a.btn{href: ""}
                Signup

  %article
    %h1.wow.fadeInLeft
      The fast, easy, collaborative way to hire.
    %form.wow.fadeInRight
      %input{type: "submit", value: "Start Your Free Trial"}
    = image_tag "screenshot-flat.png", class: "screenshot-flat"
    -# %figure
      -# .screenshot-img
      -# .dashboard-img
      -# .feedback-img
      -# .sean-default
      -# .sean-default-in
      -# .candidates-img
      -# .sean-move
      -# .sean-click
      -# .modal-overlay
      -# .modal-pop
      -# .activity-tab
      -# .mention
      -# .text-type
      -# .text-blank
      -# .message-post
      -# .reply
      -# = image_tag "mobile-hero.png", class: "mobile-hero", style: "display: none"

-# Features Section
%section.features
  %article
    %dl
      %dd
        %header
          %i.md.md-filter-hdr.md-3x
          %h4 Analytics and Reporting
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i.md.md-account-child.md-3x
          %h4 Sourcing
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i.md.md-today.md-3x
          %h4 Interview Scheduling
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
    %dl
      %dd
        %header
          %i.md.md-speaker-notes.md-3x
          %h4 Real-Time Communication
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i.md.md-group-add.md-3x
          %h4 Unlimited User Accounts
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i.md.md-phonelink.md-3x
          %h4 Mobile Friendly
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.


-# Jobs Banner
%section.single-feature.jobs
  %aside
    %figure
      = image_tag "jobboards.svg"
  %article
    .content
      %h3 Post to 2000+ job boards
      %p With Nimble.HR, one click can get your job in front of candidates on over 2000 job boards.
      %ul
        %li AuthenticJobs
        %li GitHub
        %li StackOverflow


-# Extension Banner
%section.single-feature.extension
  %article
    .content
      %h3 Chrome Extension
      %p Easily source candidates from a variety of sources.
      %ul
        %li Linkedin
        %li AngelList
  %aside
    %figure
      = image_tag "extension.svg"


-# Testimonials Section
%section.testimonals
  %article
    %h3 What are users say about us
    %p Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci.
    %ul
      %li
        = image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg"
      %li
        %span Michael Cera
      %li
        = link_to "@thisIsTwitter", "#"
      %li
        Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci, at consequat metus commodo sed. Aenean sed malesuada purus.
    %ul
      %li
        = image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg"
      %li
        %span Jesscia Hughes
      %li
        = link_to "@thisIsTwitter", "#"
      %li
        Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci, at consequat metus commodo sed. Aenean sed malesuada purus.
    %ul
      %li
        = image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg"
      %li
        %span Kimberly Johnson
      %li
        = link_to "@thisIsTwitter", "#"
      %li
        Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci, at consequat metus commodo sed. Aenean sed malesuada purus.


-# Hiring Section
%section.hiring
  .container
    %article
      %h5 We’re hiring. Help us reinvent how modern businesses grow amazing teams.
      %p
        Curabitur sit amet laoreet orci. Curabitur sollicitudin quam at justo luctus, vel aliquam mauris aliquet.
        %br
        Quisque tempus sollicitudin nisl quis ullamcorper. Etiam convallis elementum metus ut pretium
    %aside
      = link_to "Apply", "#", class: "button secondary"


-# Hero Section
%section.hero
  .overlay
    %article
      %dl
        %dd
          %h3 Some new headline
          %p Curabitur sit amet laoreet orci. Curabitur sollicitudin quam at justo luctus, vel aliquam mauris aliquet. Quisque tempus sollicitudin nisl quis ullamcorper. Etiam convallis elementum metus ut pretium. Duis aliquet, ex eu scelerisque sodales, eros metus sollicitudin mi, quis accumsan diam ante in nisl. Aliquam vel velit quis mauris accumsan pulvinar.
          = link_to "Get Start", "#", class: "button"


-# Footer
%footer.footer
  %article
    %ul
      %li
        %a{href: "https://angel.co/nimble-hr", target: "_blank"}
          = image_tag "icon-angelist.svg"
      %li
        %a{href: "https://www.facebook.com/nimblehr", target: "_blank"}
          = image_tag "icon-fb.svg"
      %li
        %a{href: "https://twitter.com/nimble_hr", target: "_blank"}
          = image_tag "icon-twitter.svg"
    %p &#169; 2015 Nimble Hr.
