%section.main-hero

  %nav.main-nav
    .container
      %dl
        %dd
          .logo
            = image_tag "logo-breezy-white.png"
        %dd
          %ul
            %li
              %a{href: ""} Login
            %li
              %a.btn{href: ""}
                Signup

  %article
    %h1.wow.fadeInDown
      The fast, simple way to grow your team.
    %form.wow.fadeInRight{"data-wow-delay" => "1s"}
      %input{type: "submit", value: "Start Your Free Trial"}
    = image_tag "flat.png", class: "screenshot-flat"
    -# %figure
      -# .screenshot-img
      -# .dashboard-img
      -# .feedback-img
      -# .sean-default
      -# .sean-default-in
      -# .candidates-img
      -# .sean-move
      -# .sean-click
      -# .modal-overlay
      -# .modal-pop
      -# .activity-tab
      -# .mention
      -# .text-type
      -# .text-blank
      -# .message-post
      -# .reply
      -# = image_tag "mobile-hero.png", class: "mobile-hero", style: "display: none"

-# Features Section
%section.features
  %article
    %dl
      %dd
        %header
          %i.md.md-phonelink.md-3x
          %h4 Mobile Optimized
        Both your hiring team and candidates will love our mobile optimized experience.
      %dd
        %header
          %i.md.md-description.md-3x
          %h4 Résumé Parsing
        No more painful data entry. Uploaded resumes are parsed using the best tech available.
      %dd
        %header
          %i.md.md-content-paste.md-3x
          %h4 Post Job Boards
        Post your open positions on hundreds of free and premium job boards.
    %dl
      %dd
        %header
          %i.md.md-speaker-notes.md-3x
          %h4 Real-Time Communication
        Collaborate with your hiring team and communicate with your candidates in real-time.
      %dd
        %header
          %i.md.md-group-add.md-3x
          %h4 Unlimited User Accounts
        There's never any additional cost when you add more team members. Invite everyone!
      %dd
        %header
          %i.md.md-face-unlock.md-3x
          %h4 No Training Required
        You're up and running in minutes, it's that easy.


-# Jobs Banner
%section.single-feature.jobs
  %aside
    %figure
      = image_tag "jobboards.svg"
  %article
    .content
      %h3 All the Job Boards
      %p With one click you can post to 2000+ job boards
      %ul
        %li Free sites like Glassdoor, SimplyHired and more
        %li Premium sites like StackOverflow, Github, LinkedIn and more
        %li Get your position in front of the right candidates, sooner


-# Extension Banner
%section.single-feature.extension
  %article
    .content
      %h3 Simple Sourcing
      %p Source candidates from from LinkedIn or AngelList with one-click using our Chrome Extension
      %ul
        %li Import candidates directly from their LinkedIn & AngelList profiles
        %li Email in resumes directly to Breezy
        %li Drag & drop resumes from within the app
        %li Full support for external recruiters

  %aside
    %figure
      = image_tag "extension.svg"


-# Testimonials Section
%section.testimonals
  %article
    %h3 What are users say about us
    %p Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci.
    %ul
      %li
        = image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg"
      %li
        %span Michael Cera
      %li
        = link_to "@thisIsTwitter", "#"
      %li
        Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci, at consequat metus commodo sed. Aenean sed malesuada purus.
    %ul
      %li
        = image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg"
      %li
        %span Jesscia Hughes
      %li
        = link_to "@thisIsTwitter", "#"
      %li
        Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci, at consequat metus commodo sed. Aenean sed malesuada purus.
    %ul
      %li
        = image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg"
      %li
        %span Kimberly Johnson
      %li
        = link_to "@thisIsTwitter", "#"
      %li
        Quisque gravida ullamcorper sapien. Nulla mattis porttitor orci, at consequat metus commodo sed. Aenean sed malesuada purus.


-# Hiring Section
%section.hiring
  .container
    %article
      %h5 We’re hiring. Help us reinvent how modern businesses grow amazing teams.
      %p
        Curabitur sit amet laoreet orci. Curabitur sollicitudin quam at justo luctus, vel aliquam mauris aliquet.
        %br
        Quisque tempus sollicitudin nisl quis ullamcorper. Etiam convallis elementum metus ut pretium
    %aside
      = link_to "Apply", "#", class: "button secondary"


-# Hero Section
%section.hero
  .overlay
    %article
      %dl
        %dd
          %h3 Some new headline
          %p Curabitur sit amet laoreet orci. Curabitur sollicitudin quam at justo luctus, vel aliquam mauris aliquet. Quisque tempus sollicitudin nisl quis ullamcorper. Etiam convallis elementum metus ut pretium. Duis aliquet, ex eu scelerisque sodales, eros metus sollicitudin mi, quis accumsan diam ante in nisl. Aliquam vel velit quis mauris accumsan pulvinar.
          = link_to "Get Start", "#", class: "button"


-# Footer
%footer.footer
  %article
    %small &#169; 2015 Breezy Hr.
    %dl
      %dd
        = link_to "API Docs", "#"
      %dd
        &#8226;
      %dd
        = link_to "Privacy Policy", "#"
      %dd
        &#8226;
      %dd
        = link_to "Support", "#"
    %ul
      %li
        %a{href: "https://angel.co/nimble-hr", target: "_blank"}
          = image_tag "icon-angelist.svg"
      %li
        %a{href: "https://www.facebook.com/nimblehr", target: "_blank"}
          = image_tag "icon-fb.svg"
      %li
        %a{href: "https://twitter.com/nimble_hr", target: "_blank"}
          = image_tag "icon-twitter.svg"
