%section.main-hero

  -# Marketing Nav
  = partial "marketing-nav"

  %article
    %h1
      The fast, easy, collaborative way to hire.
    %form
      %input{type: "submit", value: "Start Your Free Trial"}
    %figure
      .screenshot-img
      .dashboard-img
      .applied-img
      .feedback-img
      .sean-default
      .sean-default-in
      .candidates-img
      .sean-move

-# Features Section
= partial "features"

-# Macbook Banner
= partial "macbook-banner"

-# Iphone Banner
= partial "iphone-banner"

-# Testimonials Section
= partial "testimonials"

-# Hiring Section
= partial "hiring"

-# Hero Section
= partial "hero"

-# Footer
= partial "footer"
