%section.main-hero
  .overlay
    %nav.main-nav
      %dl
        %dd
          .logo
            = image_tag "nimble.svg"
        %dd
          %ul
            %li
              %a{href: ""} Login
            %li
              %a.btn{href: ""}
                Signup
    %article
      %h1
        The fast, easy, collaborative way to hire.
      %form
        %input{type: "submit", value: "Start Your Free Trial"}
      %figure
        = image_tag "screenshot-bg.svg"

%section.features
  %article
    %dl
      %dd
        %header
          %i.md.md-local-florist Icon Font
          %h4 Analytics and Reporting
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i Icon Font
          %h4 Sourcing
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i Icon Font
          %h4 Interview Scheduling
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
    %dl
      %dd
        %header
          %i Icon Font
          %h4 Real-Time Communication
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i Icon Font
          %h4 Unlimited User Accounts
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i Icon Font
          %h4 Track and Rate Candidates
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.

%section.hero
  .overlay
    %article
      %dl
        %dd
          %h3 In the office or on the go
          %p Curabitur sit amet laoreet orci. Curabitur sollicitudin quam at justo luctus, vel aliquam mauris aliquet. Quisque tempus sollicitudin nisl quis ullamcorper. Etiam convallis elementum metus ut pretium. Duis aliquet, ex eu scelerisque sodales, eros metus sollicitudin mi, quis accumsan diam ante in nisl. Aliquam vel velit quis mauris accumsan pulvinar.

%section.plugins
  %article
    %h2 Integrated with the Modern Workspace
    %h4
      Integrations with services like Slack, Dropbox, Google Apps save you
      %br
      and your team time by bringing Nimble to where you already are.
    %ul
      %li
        = image_tag "slack-logo.png"
      %li
        = image_tag "dropbox-logo.png"
      %li
        = image_tag "hipchat-logo.png"

%section.callout
  %article
    %h2 Start Hiring Simply
    %h4
      Want to get early access to Nimble HR? We’re accepting
      %br
      limited amounts of companies now.
    %a.button.wow.fadeInDown{href: "#"} Request a Demo

%footer.footer
  %article
    %ul
      %li
        %a{href: "https://angel.co/nimble-hr", target: "_blank"}
          = image_tag "icon-angelist.svg"
      %li
        %a{href: "https://www.facebook.com/nimblehr", target: "_blank"}
          = image_tag "icon-fb.svg"
      %li
        %a{href: "https://twitter.com/nimble_hr", target: "_blank"}
          = image_tag "icon-twitter.svg"
    %p  &#169; 2014 Nimble Hr.
